.instructors{
 color: rgb(172, 9, 9);
 margin: 0% 0% 0% 5%;
 font-family: cursive;
 font-size: 1.5vw;

}
.instructor-card-div{
  margin: 20% 0% 20% -18%;
  padding-bottom: 10%;
  width: 25vw;
  border: black;
  border-style: solid;
  border-width: .01rem;

  background-color: rgb(237, 246, 236);

}
.instructors-card{
  margin: 20% 0% 0% 15%;
  text-align: center;
  /* background-color: black; */
}
  .new-instructor-form{
    display: block; 
    margin-left: 20%;
    width: 55%;
    padding: 1%;
  
  } 
  .teacher-emojicon{
      font-size: 3.5vw;
      text-shadow: .02vh .03vh #4c5661;
      background-image: url("https://www.transparenttextures.com/patterns/type.png");
      background-color:#f7f7f7;
      padding: 5% 5% 2% 5%;
      border: black;
      border-style: solid;
      border-width: .1rem;
      align-content: center;
  }
  #pen{
    font-size: 1rem;
  
  }

  #trash-icon{
   margin-left: 85%;
    font-size: 1rem;
    position: relative;
  }
#single-instructor-name{
  font-size: 2.25rem;
  position: relative;
  margin-top: -2.5%;
  margin-left: 5%;
  font-family: cursive;
  color:red;
}
