.instructors{
 color: red;
 font-family: cursive;
 font-size: 2rem;

}
  .new-instructor-form{
    display: block; 
    margin-left: 20%;
    width: 65%;
    padding: 1%;
  } 
  .teacher-emojicon{
      font-size: 5rem;
      text-shadow: .02vh .03vh #4c5661;
      background-image: url("https://www.transparenttextures.com/patterns/type.png");
      background-color:#f7f7f7;
      padding: 5% 5% 2% 5%;
      border: black;
      border-style: solid;
      border-width: .1rem;
      align-content: center;
  }
 

