.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  .new-session-form{
    display: block; 
    margin-left: 35%;
    width: 35%;
    
    
  }
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .each-session, .one-session {
  background-color: black;
  background-color:rgba(255, 255, 255, 0.5);
  border-style: dotted;
  border-color: rgb(165, 165, 165);
  border-spacing: .1rem ;
  border-width: .06em;
  content: normal;
  border-collapse: separate;
  margin: .2em;
  

  }

  .one-session {
      margin: auto;
  }

  .emojicons {
    padding: 1em;
    font-size : 2rem;
   text-shadow: .08vh .06vh rgb(10, 11, 17);
   margin: auto;
  }

  .edit-session-form  {
    display: block; 
    margin-left: 7%;
    margin-bottom: 15%;
    width: 45%; 
    padding: 2.5% 20% 5% 20%;
    border: rgba(156, 154, 154, 0.349);
    border-width: .01em; 
    border-style: dotted; 
    background-color: rgba(246, 241, 228, 0.486); 

  }
 .edit-session-form input, .edit-notes-textarea {
  color: rgb(100, 95, 95);
  padding: 2% 0%;
  margin: 3% 0%;
  font-size: 60%;
  border: rgb(221, 219, 219);
  border-width: .01em; 
  border-style: dashed; 
 }
 #edit-sess{

  position: absolute;
  margin: 1.25% 10% 10% -4% ;
  text-shadow: .05em .05em rgb(70, 63, 64);
 }
 #delete-sess{
  position: absolute;
  margin: -.5% 0% 0% -1% ;
  text-shadow: .03em .03em rgb(233, 167, 177);

}
