.single-student-card{
    border: rgba(182, 180, 180, 0.76);
    border-style: dashed;
    border-width: .01rem;
    margin: 0% 1%;
    padding: 1%;
    font-size: x-large;
    background-color: rgba(238, 238, 247, 0.918);
}

.students{
    font-size: 2rem;
    text-shadow: .02vh .03vh #717375;
   
}
.students-blur {
    background-color: black;
}

.student-emojicon {
    font-size: 5rem;
    background-color: #d6e2e1;
    background-image: url("https://www.transparenttextures.com/patterns/robots.png");
    padding: 5% 5% 2% 5%;
    text-shadow: .02vh .03vh #4c5661;
    border-style: solid;
    border-color: black;
    border-width: .1rem;
   align-content: center;
   
}
.new-student-form{
    margin-left: 35%;
    width: 35%;
  }

  .student-input{
    /* display: flex; */
    /* justify-items: center;
    align-items: center;
    margin: 5vh;
    padding: 1vw;
    width: auto;
    background-color: rgb(244, 245, 248); */
  }