.single-student-card{
    border: rgba(182, 180, 180, 0.76);
    border-style: dashed;
    border-width: .01rem;
    margin: 0% 1%;
    padding: 1%;
    background-color: rgba(238, 238, 247, 0.918);
}
.single-student-card li{
    font-size: 1vw;
}

.students{
    font-size: 1.25vw;
    font-family: monospace ;
    text-shadow: .02vh .03vh #717375;
   
}
.student-info-header{
    margin-right: 0%;
}
.students-blur {
    background-color: black;
}

.student-emojicon {
    font-size: 3.5vw;
    background-color: #d6e2e1;
    background-image: url("https://www.transparenttextures.com/patterns/robots.png");
    padding: 5% 5% 2% 5%;
    text-shadow: .02vh .03vh #4c5661;
    border-style: solid;
    border-color: black;
    border-width: .1rem;
   align-content: center;
   
}
.new-student-form{
    margin-left: 35%;
    width: 35%;
  }

  .student-input{
    /* display: flex; */
    /* justify-items: center;
    align-items: center;
    margin: 5vh;
    padding: 1vw;
    width: auto;
    background-color: rgb(244, 245, 248); */
  }

  .edit-student-form {
      margin: 0% 0% 0% 0%;
      color:black;
      font-size: 1vw;
      display:block;
  }
  .new-form-cancel-btn {
      display: flex;
    margin: -3%  0%  0%  60% ;
  }

  .quick-form-inputs{
      margin-left: ;
  }
  .quick-form-textarea{
      margin-left:25%
  }
  .new-forms-div{
      margin: 10% 0% 0% 0%;
      padding:0% 5% 0% 20%;
      border: black;
      border-style: solid;
      background-color: rgb(255, 255, 255);
      width: 75%;
      
  }