#root{
  background-color: #ddebfc;
  background-image: url("https://www.transparenttextures.com/patterns/cross-stripes.png");


}
.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #dee4f0;
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin-left: 90px;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(97, 5, 5);
  font-family: inherit;
  
}
 

.nav li {
  display: inline-flex;
 flex-direction: row;
 font-size: 2.5vh;
 font-style: inherit;
 font-weight: bolder;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 margin-left: 8%;
}

.nav li a {
  color: rgb(6, 1, 70);
  text-align: center;
  padding: 10px 100px;
  text-decoration: none;
 
}

.nav li a:hover {
  background-color: rgba(233, 225, 225, 0.356);


}
.nav li a:visited {
  color: #020b16;
}

.App-link {
  color: #09d3ac;
}
li{
  display: flex;
  list-style: none;
  text-decoration:none;
}
li a:hover {
  text-decoration:none;
  color:rgb(185, 3, 3);
}
  
a {
  text-decoration:none;
  color: rgba(4, 91, 149, 0.801);
}
.x{
  font-size: 10px;
}
.Body{
  display: inline-flexbox;
  padding: 0%;

  color: #666675;
  font-family: Consolas, "Courier New",
    monospace;
}
.student-input{
  display: flex;
  justify-items: center;
  align-items: center;
  margin:5px;
  padding: 1px;
  width: auto;
  background-color: rgb(244, 245, 248);
}

/* Profile  */

.Admin-container {
  display: grid;
  grid-template-columns: 4fr 5fr 4fr ;
  grid-template-rows: 1fr 14fr;
  column-gap: 15px;
  height:100vh;
  grid-template-areas: 
                      'nav nav nav'
                      'students admin instructors'
                      
}

.nav {
  grid-area: nav;
  margin: 0vh;

}
.students{ grid-area: students;
  text-align: center;
 
  background-color: #f0dede;

}
.admin { 
  grid-area: admin;
  justify-items: center;
  justify-content: center;
  background-color: #dee4f0;
  text-align: center;
}
.instructors { 
  grid-area: instructors ;
  background-color: #e2f0de;
  text-align: center;
  justify-content: left;

}


h5{
  margin:0px 0px 0px -50px;

}

.quick-form{
  color: #0e0d0d;
 margin-left: 1.75%;
}

.new-student-form{
  margin-left: 35%;
  width: 35%;
}
.new-session-form{
  display: block; 
  margin-left: 35%;
  width: 35%;
  
  
}
.new-instructor-form{
  display: block; 
  margin-left: 20%;
  width: 65%;
  padding: 1%;
}

