.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #dee4f0;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(133, 7, 133);
}

.App-link {
  color: #09d3ac;
}
ul{
  list-style: none;
}
.x{
  font-size: 10px;
}
.Body-header{
  display: flex;
  align-items: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
  color: #666675;
  font-family: Consolas, "Courier New",
    monospace;
}
.student-input{
  display: flex;
  justify-items: center;
  align-items: center;
  margin:5px;
  padding: 1px;
  width: auto;
  background-color: rgb(244, 245, 248);
}
.students-left{
  /* background-color: red; */
  /* display: flex; */
}