.login-div {
    margin:10% 0% 0% 45%;   
    /* justify-self: center; */
    width: 100vw;
    height: 110vh;
    z-index:0.9;
    
    color: rgb(0, 0, 0);
    
    }
     #login-h1 {
     color: #d30935;
     position: relative;
     font-size: 3.25em;
     font-weight: 900;
     text-shadow: #494646 1.5px 1.25px;
     
    }
   #no-login-h1{

   position: relative;
   font-size: 3em;
   color: rgb(5, 5, 5);
    opacity: 15%;
    
    }
    
    .wrong-email-or-password{
      color: #ff0037;
      text-align: center;
     font-size: 2.75em;
     font-weight: 700;
     text-shadow: #000000 1px 1px;
     margin-top: 20%;
     z-index: -2.0;

    }
      .no-login{
      opacity: 25%;
      margin:-7.5% 0% 0% 45%;   
    /* justify-self: center; */
    width: 100vw;
    height: 110vh;
    z-index:1.9;
    
    color: rgb(122, 117, 117);
    }
    .login-div .login{
       /* background-color: #d30935; */
       width: 15vw;
       
    }
    .login-inputs {
       width: 60%; 
       font-size:2em;
        border-radius:.25em
    }