/* Resources Page */

.resources{
    /* display: inline; */
    text-align: center;
    width: 80vw;
    height: 100vh;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 0.5fr 3fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    margin-left: 7.5vw;
    margin-right: 0vw;
    grid-template-areas: 
                        'main main'
                        'header header'
                        'stu inst'
                        'stu inst'
    
    ;
  
  }
  .resources button {
    grid-area: drop;
  width: 7.5vw;
  height: 5vh;
  margin-left:20vw;
  margin-top: 5vh;
  border-radius: .5em;
  font-size: 1em;
  z-index: 1.5;
  background-color: crimson;
  
  }
  .main-headers {
    grid-area: main;
    height: 10vh;
    margin-top: 2.5vh;
    background-color: blueviolet;
  }
  .resources-header{
    grid-area: header;
    /* background-color: blue; */
    height: 5vh;
  }
  .stu-resources{
      grid-area: stu;
      margin-left: 1.5vw;
      height: 74vh;
      background-color: cadetblue;
  }
  .inst-resources{
      grid-area: inst;
      margin-right: 1.5vw;
      height: 74vh;
      background-color: blue;
      color: blanchedalmond;
  }
  