/* Resources Page */

.resources{
    /* display: inline; */
    text-align: center;
    width: 80vw;
    height: 100vh;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 4fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    margin-left: 7.5vw;
    margin-right: 0vw;
    grid-template-areas: 
                        'header header'
                        'stu inst'
                        'stu inst'
    
    ;
  
  }
  .resources button {
    align-self: auto;
    text-align: center;
    background-color: lightcoral;
  
  }
  .resources-header{
    grid-area: header;
  }
  .stu-resources{
      grid-area: stu;
      margin-left: 1.5vw;
      background-color: cadetblue;
  }
  .inst-resources{
      grid-area: inst;
      margin-right: 1.5vw;
      background-color: blue;
      color: blanchedalmond;
  }